* {
        margin: 0;
        padding: 0;
}


article > section {
        display: none;
        margin-top: 1em;
}

section.active {
        display: block;
}


/* Here will be standard styles */


body{
        background-color: #efefef;
        font-family: Helvetica, Verdana, sans-serif; 
    font-weight: normal; 
    font-size: 90%;
    line-height: 140%;

}
header{
color: white;
padding-top: 20px;
width: 100%;
margin: auto;
}


body > header{
        background-color: #3f3f3f;
        text-align: center;
}
body > header h1{
        font-size: 90%;
        height: 50px;
}

body > header h1 span{
        font-size: 90%
}

section > h1 {
        width: 100%;
        margin: auto;
}

/* Menu */
nav{
        background:#838383;
        margin-top: -1em;
        font-size: 80%
}

nav a {
color: white;
}
nav ul{
        margin: 0;
        text-align: center;
}
nav ul li{
        display: inline-block;
        margin: 0 1em;
}
nav ul li a:hover{
        background-color: rgba(100, 200, 100, 0.4);
}

/* Table */
table{
        width: 100%;
        margin: auto;
        background-color: #838383;
        margin-bottom: 1em;
		color: white;
}
table a{
		color: white;	
}
tr{
        text-align: center;
}
tr:nth-child(even){
        background-color: #3f3f3f;
}
td{
		height: 90px;
}

#update{
position: relative;
bottom: 40px;
font-size: 30px;
}
#plus1, #plus2 {
        cursor: pointer;
}

#schedule-load {
	position: absolute;
	left: 40px;
     border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 25px 25px 20px 25px;
	width: 250px;
	margin: 50px auto;
	margin-top: 
 }
 
 

#schedule-load img {
     float: center;
     margin-top: -5px;
 }
.score{
font-weight: bold;
}

  #schedule-load span {
      margin: 0px 20px;
       color: white;
	}
	
#swipeLeft {
    /* leaving out browser prefixes for brevity */
    height: 100px;
    transition: height 1.5s ease-in;
}

#swipeLeft.nowmove {
    height: 300px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#fade-in{
	opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

